body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    position: absolute;
    /*left: 26.56%;
    right: 26.46%;
    top: 4.04%;
    bottom: 44.92%;
*/

    top: 4.04%;
    width: 481px;
    height: 392px;
    
    /* Color/Neutral/5 - Grey 10% */

    background: #F7F5F9;
    border-radius: 12px;

}

.form_title {
    position: realtive;
    margin-left:40px;
    margin-top: 40px;
    width: 168px;
    height: 20px;
    left: 312px;
    top: 71px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height, or 83% */

    display: flex;
    align-items: center;
    margin-bottom: 25px;
    color: #3B3D43;

}


.form_input {
    position: relative;


    height: 48px;
    width: 401px;
    margin-left:40px;
    margin-right: 40px;
    margin-bottom: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    
   /* display: flex;*/
    align-items: center;
    align-content: center;

    border-radius: 6px;
} 

/*
.form_button {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;


    background: #6979F8;
    border-radius: 6px;
}*/